<div class="iframe <%= display_type %>" iframe-id="<%= id %>">
  <%= nested_form_for model, :remote => true, :html => { :multipart => true, :class => "style-me" } do |f| %>
    <%= f.hidden_field :display_type, value: display_type %>

    <%= f.label :title %>
    <%= f.text_field :title %><br>

    <%= f.label :url %>
    <%= f.text_field :url %><br>

    <%= f.submit "Submit", class: :submit %> <%= cancel_link %>
  <% end %>
  <%= model.errors.messages unless model.errors.empty? %><br>

</div>
