<%= nested_form_for model, remote: true do |f| %>

  <%= f.fields_for :section do |section_form| %>
    <%= section_form.hidden_field :article_id %>
  <% end %>

  <%= f.label :sentence %>
  <%= f.text_area :content %><br>

  <%= f.label :render_type %>
  <%= f.select :render_type, [[ "HTML", 'html' ], ["RedCloth", 'redcloth'], ["Raw", 'raw']] %><br>

  <p><%= f.submit "Submit" %></p>
<% end %>
<%= model.errors.messages unless model.errors.nil? %>

