<div class="snippet <%= display_type %>" snippet-id="<%= id %>">

  <div class="menu">
    <%= edit_link %>
  </div>

  <%= content %><br/>
  <%= html_content %><br/>
  Render Type <%= render_type %><br/>
  Redcloth: <%= redcloth? %><br/>
  HTML: <%= html? %><br/>
  Raw: <%= raw? %><br/>

</div>

