<div class='content'>
  Article Contents
</div>

/ <div class="content">

/   <% unless @article.description.nil? %><%= @article.description %><% end %>
/   <br><br>
/   <hr>
/   <br>
/   <div class="sentences">

/     <% @article.sentences.each do |sentence| %>
/       <%= render partial: 'sentence', locals: { sentence: sentence } %>
/     <% end %>
/   </div>
/ </div>

/ <div class="content-header">Comments</div>
/ <div class="content">
/   <%= render @article.comments %>

/   <h2>Add a comment:</h2>
/   <%= render 'comments/form' %>
/ </div>

/ <% content_for :meta do %>
/   <div class="content article_stats">
/   <%= render 'article_stats' %>
/   </div>
/ <% end %>
/ <!--%= link_to 'Articles', articles_path %-->
/ <!--%= link_to 'Edit', edit_article_path(@article) %-->
/ <!--%= link_to 'Tokenize', manage_article_path(@article) %-->
