<div class="new_sentence_form">
  <%= simple_form_for @sentence_form, url: sentences_path, remote: true, method: :post do |f| %>


    <%= f.simple_fields_for :section  do |section_form| %>
      <%= section_form.input :article_id, :as => :hidden, :input_html => { :value => @article.id } %>
    <% end %>


    <%= f.input :value %>

    <h3>Translation:</h3>
    <div id="new_translation">
      <%= f.simple_fields_for :translations do |f2| %>
        <%= f2.input :value, placeholder: "Name" %>

        <%= f2.input :source_id, collection: Source.all, :include_blank => "[Create New Source]" %>
        <div id="new_source">
           <%= f2.fields_for :source do |f3| %>
            <%= f3.input :name, placeholder: "Name" %>
            <%= f3.input :link, placeholder: "Link" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= f.button :submit, class: :expand %>
  <% end %>
  <%= @sentence_form.errors.messages unless @sentence_form.errors.nil? %>
</div>
