
<div class="new_sentence_form">
  <%= simple_form_for form, url: sentences_path, remote: true, method: :post do |f| %>
    <%= f.input :article_id, :as => :hidden, :input_html => { :value => form.model.article_id } %>
    <%= f.input :value %>
    <%= f.input :end_paragraph, as: :boolean %>

    <h3>Translation:</h3>
    <div id="new_translation">
      <%= f.simple_fields_for :translations do |f2| %>
        <%= f2.input :value, placeholder: "Name" %>

        <%= f2.input :source_id, collection: Source.all, :include_blank => "[Create New Source]" %>
        <div id="new_source">
           <%= f2.fields_for :source do |f3| %>
            <%= f3.input :name, placeholder: "Name" %>
            <%= f3.input :link, placeholder: "Link" %>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= f.button :submit, class: :expand %>
  <% end %>
  <%= form.errors.messages unless form.errors.nil? %>
</div>
