<% sentence.tokens.each do |token| %>
  <%= render partial: 'tokens/token', locals: { token: token } %>
<% end %>
<% if sentence.untokenized != '' %>
  <%= sentence.untokenized %>
  <%= link_to 'Tokenize', manage_sentence_path(sentence) %> |
<% end %>

<br><br>

<input type='button' class='toggle_translation' value='Show Translations'>
<div class="translations">
  <% sentence.translations.each do |translation| %>
    <% if translation.source != nil %>
     [<%= translation.source.name %>] -
    <% end %>
    <%= translation.value %><br/>
  <% end %>
</div>

<br><br>

<!--%= link_to 'Delete Sentence', sentence, method: :delete %--> |
<!--%= link_to 'Delete Tokens', untokenize_sentence_path(sentence) %-->


<br><br>

<hr>
<br>
