
<div class="sentence">
  <% sentence.tokens.each do |token| %>
    <%= render partial: 'tokens/token', locals: { token: token } %>
  <% end %>
  <!--% if sentence.untokenized != '' %-->
    <!--%= sentence.untokenized %-->
    <!--%= link_to 'Tokenize', manage_sentence_path(sentence) %-->
  <!--% end %-->


</div>

<!--% link_to image_tag("copy.png", class: 'copy_text'), sentence_copy_text_path(sentence), remote: true %-->
<div class="toggle_translations">
  <%= link_to image_tag("translate2.jpg", class: 'toggle_translations_button'), sentence_path(sentence) %>
  <div class="translations_wrapper">
    <div class="translations">
      <% if sentence.translations.size > 0 %>
        <% translation = sentence.translations[0] %>
        <%= raw translation.value %>
        <% if translation.source.present? %> - <i><%= translation.source.name %></i><% end %>
        <% if translation.user.present? %> - <i><%= translation.user.id %></i><% end %><br>
      <% end %>
    </div>
  </div>
</div>


<% if sentence.end %>
<div class="end_paragraph"></div>
<% end %>


<!--%= link_to 'Delete Sentence', sentence, method: :delete %-->
<!--%= link_to 'Delete Tokens', untokenize_sentence_path(sentence) %-->

