<div id="tokenized">
  Translation Count: <%= @sentence.translations.count %><br/>
  <% @sentence.translations.each do |translation| %>
    <%= translation.value %> (<%= translation.source %>)<br/>
  <% end %>
  <% @sentence.tokens.each do |token| %>
    <!-- I don't think you need to specify locals if they are just from the controller, i.e. learned words (with @) -->
    <%= render partial: 'tokens/token', locals: { token: token } %>
  <% end %>
  <div class="untokenized"><%= @sentence.untokenized %></div>
</div>