
<div class="sentence">
  <% sentence.tokens.each do |token| %>
    <div style="display:inline-block;"><%= render partial: 'word', locals: { word: token.word } %></div>
  <% end %>

  <div class="toggle_translations">
    <div class="toggle_translations_button_wrapper">
      <%= image_tag("translate2.jpg", class: 'toggle_translations_button') %>
    </div>
  </div>

</div>

<div class="translations">
  <div class="close_translation_tooltip">&#10006;</div>
  <% sentence.translations.each do |translation| %>
    <% if translation.source.present? %>
      <b><%= translation.source.name %></b><br>
    <% end %>
    <%= raw translation.value %><br/>
    <% if translation.user.present? %> - <i><%= translation.user.id %></i><% end %><br>
  <% end %>
</div>

<% if sentence.end %>
<div class="end_paragraph"></div>
<% end %>

