<div class="content">
  <%= concept("article/article_admin_menu_cell", @form.model, current_user: current_user) %>

  <h2>Edit Article</h2>


  <% if @form.errors.count > 0 %>
    <h3>Problem:</h3>
    <ul>
      <%= @form.errors.each do |k, v| %>
        <li class='error'>
          <%= k %>
          <%= v %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= simple_form_for @form do |article| %>

    <%= article.input :title, placeholder: "Title", label: false %>
    <%= article.input :published, label: "Published", as: :boolean %>
    <%= article.input :commentable, label: "Commentable", as: :boolean %>

    <%= article.input :source, collection: Source.all, selected: @form.source %>
    <%= article.input :description, as: :text, placeholder: "Description", label: false,
          input_html: { :style => 'width: 100%; height: 300px;' } %>

  <%= article.button :submit, class: :expand %>
  <% end %>
  <%= @form.errors.messages unless @form.errors.nil? %>
</div>