<div class="content">
  <%= concept("article/article_admin_menu_cell", @article, current_user: current_user) %>
  <%= concept("article/article_cell", @article).call(:show) %>

  <div class="content-header">Sentence</div>

  <h2>Add a Sentence:</h2>
  <%= render partial: "sentences/new", locals: { form: @sentence_form, sentence: @sentence, article: @article }  %>

  <h3><%= @article.comments.size %> comments</h3>
  <div class='comments'>
    <%= concept "comment/comment_grid_cell", @article %>
  </div>
</div>