<div class="content">
  <%= concept("article/article_admin_menu_cell", @article, current_user: current_user) %>
  <%= concept("article/article_cell/manage_article_cell", @article, current_user: current_user).call(:show) %>


  <!-- TODO: need some way of ordering sections -->

  <h2>Create Sentence:</h2>
  <%= render partial: "sentences/new", locals: { form: @sentence_form, article: @article }  %>

  <h2>Create Snippet:</h2>
  <%#= render partial: "snippets/new", locals: { form: @sentence_form, article: @article }  %>

  <h2>Add Image:</h2>
  <%= render partial: "images/add_image", locals: { form: @add_image_form, article: @article }  %>

  <h2>Add Iframe:</h2>
  <%= render partial: "iframes/add_iframe", locals: { form: @add_iframe_form, article: @article }  %>

  <h3>Comments</h3>
  <div class='comments'>
    <%= concept "comment/comment_grid_cell", @article %>
  </div>

</div>