<h3>Create Article</h3>

<% if @form.errors.count > 0 %>
  <h3>Problem:</h3>
  <ul>
    <%= @form.errors.each do |k, v| %>
      <li class='error'>
        <%= k %>
        <%= v %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= simple_form_for @form do |f| %>

  <%= f.input :link, placeholder: "Link", label: false %>
  <%= f.input :title, placeholder: "Title", label: false, readonly: @form.readonly?(:title) %>
  <%= f.input :description, placeholder: "Description", label: false %>
  <%= f.input :published, label: "Published", as: :boolean %>
  <%= f.input :commentable, label: "Commentable", as: :boolean, :value => true %>

  <div>
    <%= f.fields_for :source do |f2| %>
      <%= f2.input :name, placeholder: "Name" %>
      <%= f2.input :link, placeholder: "Link" %>
    <% end %>
  </div>
  <%= f.button :submit, class: :expand %>
<% end %>
<%= @form.errors.messages unless @form.errors.nil? %>