<% content_for :meta do %>
  <!-- TODO: use cells -->
  <% if !@user_stats.empty? %>
    <!-- Move user status to a user page -->
    <!--
    <h3>User Stats</h3>
    Learned Words <%= @user_stats[:learned_words][:count] %><br><br>
    Learned HSK 1 Words <%= @user_stats[:learned_words][:hsk_word_count][1] %><br>
    Learned HSK 1 Characters <%= @user_stats[:learned_words][:hsk_char_count][1] %><br><br>

    Learned HSK 2 Words <%= @user_stats[:learned_words][:hsk_word_count][2] %><br>
    Learned HSK 2 Characters <%= @user_stats[:learned_words][:hsk_char_count][2] %><br><br>

    Learned HSK 3 Words <%= @user_stats[:learned_words][:hsk_word_count][3] %><br>
    Learned HSK 3 Characters <%= @user_stats[:learned_words][:hsk_char_count][3] %><br><br>

    Learned HSK 4 Words <%= @user_stats[:learned_words][:hsk_word_count][4] %><br>
    Learned HSK 4 Characters <%= @user_stats[:learned_words][:hsk_char_count][4] %><br><br>

    Learned HSK 5 Words <%= @user_stats[:learned_words][:hsk_word_count][5] %><br>
    Learned HSK 5 Characters <%= @user_stats[:learned_words][:hsk_char_count][5] %><br><br>

    Learned HSK 6 Words <%= @user_stats[:learned_words][:hsk_word_count][6] %><br>
    Learned HSK 6 Characters <%= @user_stats[:learned_words][:hsk_char_count][6] %><br><br>
    -->
  <% end %>

  <h3>Article Stats</h3>
  <% unless @article_stats.empty? %>
    <%= @article_stats[:total_words] %> Total Words - <%= @article_stats[:total_known_words] %> Known
    (<%= ((@article_stats[:total_known_words].to_f/@article_stats[:total_words]) * 100).round(1) %>%)<br>

    <%= @article_stats[:distinct_words] %> Unique Words - <%= @article_stats[:distinct_known_words] %> Known
    (<%= ((@article_stats[:distinct_known_words].to_f/@article_stats[:distinct_words]) * 100).round(1) %>%)<br>
  <% end %>

  <h3>Word Stats</h3>
  <% unless @article_stats.empty? %>
    <table>
     <thead>
      <tr>
         <th></th>
         <th>Pinyin</th>
         <th>Char</th>
         <th>Word</th>
         <th>Status</th>
      </tr>
     </thead>
     <tbody>
      <% @article_stats[:words].each do |k, v| %>
        <tr class="<%= v[:status] %> ">
          <td class="simplified"><%= k %> (<%=v[:count]%>)</td>
          <td><%= v[:pinyin] %></td>
          <td><%= v[:hsk_character_level].present? ? "hsk #{v[:hsk_character_level]}" : "" %></td>
          <td><%= v[:hsk_word_level].present? ? "hsk #{v[:hsk_word_level]}" : "" %></td>
          <td><%= v[:status].capitalize %></td>
        </tr>
      <% end %>
     </tbody>
    </table>
  <% end %>


<% end %>

<%= concept("article/article_cell/show", @article, current_user: current_user) %>
