<div class="content">

  <%= concept("article/admin_menu/cell", @article, current_user: current_user) %>
  <%= concept("article/cell", @article).call(:show) %>


  <div class="content-header">Comments</div>
  <div class="content">
    <!--%= render comments %-->

    <h2>Add a comment:</h2>
    <%= simple_form_for @form, url: create_comment_article_path(@article) do |f| %>
      <%= f.input :body %>
      <%= f.button :submit, class: :expand %>
    <% end %>

    <%= @form.errors.messages %>
  </div>


  <div class='comments'>
    <%= concept "comment/comment_cell/comment_grid", @article %>
  </div>
</div>