<h1><%= @article.title %></h1>
<% unless @article.description.nil? %><h4><%= @article.description %></h4><% end %>
<div>

  <% @article.sentences.each do |sentence| %>
    <% sentence.tokens.each do |token| %>
      <%= render partial: 'tokens/token', locals: { token: token } %>
    <% end %>
    <% if sentence.untokenized != '' %>
      <%= sentence.untokenized %>
    <% end %>
    <hr/>
  <% end %>
</div>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Articles', articles_path %> |
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Tokenize', tokenize_article_path(@article) %>
