<% status = (current_user.word_statuses.has_key?(word.id) ? current_user.word_statuses[word.id].status : 'unknown') %>
<% status = 'known' if word.category == 'punctuation' %>
<% show_pinyin = ['unknown'].include? status %>
<% show_mark_unknown = ['known'].include? status %>
<% show_mark_known = ['unknown'].include? status %>
<div class='word_wrapper <%= word.category %> <%= status %>' wordid="<%= word.id %>">

  <div class="tooltip_wrapper">
    <% if status == 'known' || word.category == 'punctuation' %>
      <span class='top learnable'>
        <%= word.simplified %><br/>
      </span>

      <span class='bottom learnable'>
        <%= word.pinyin %>
      </span>
    <% elsif status == 'learning' %>
      <span class='top learnable'>
        <%= word.simplified %><br/>
      </span>

      <span class='bottom learnable'>
        <%= word.pinyin %>
      </span>
    <% else %>
      <span class='top learnable'>
        <%= word.pinyin %><br/>
      </span>

      <span class='bottom learnable'>
        <%= word.simplified %>
      </span>
    <% end %>
  </div>

  <!--% unless word.punctuation? %-->
    <div class="tooltip <%= word.category %> <%= status %>" wordId="<%= word.id %>">
      <div class="close_tooltip close_button">&#10006;</div>

      <span class='top'>
        <%= link_to word.simplified, word_path(word) %>
      </span><br>

      <span class='bottom'>
        <%= word.pinyin %>
      </span>

      <hr>

      <div class="definitions">
        <strong>
        <% word.definitions.each do |definition| %>
          • <%= definition.value %><br/>
        <% end %>
        </strong>
      </div>

      <% if word.definitions.any? %><hr><% end %>

      <% article_id = article.id if article %>

      <% if status == 'known' %>
        <%= link_to "Mark as Unknown", article_update_word_status_path(article_id: article_id, word_id: word.id, status: :unknown), remote: true, method: :post %><br/>
        <%= link_to "Mark as Learning", article_update_word_status_path(article_id: article_id, word_id: word.id, status: :learning), remote: true, method: :post %>
      <% elsif status == 'learning' %>
        <%= link_to "Mark as Known", article_update_word_status_path(article_id: article_id, word_id: word.id, status: :known), remote: true, method: :post %><br/>
        <%= link_to "Mark as Unknown", article_update_word_status_path(article_id: article_id, word_id: word.id, status: :unknown), remote: true, method: :post %>
      <% else %>
        <%= link_to "Mark as Known", article_update_word_status_path(article_id: article_id, word_id: word.id, status: :known), remote: true, method: :post %><br/>
        <%= link_to "Mark as Learning", article_update_word_status_path(article_id: article_id, word_id: word.id, status: :learning), remote: true, method: :post %>
      <% end %>

    </div>
  <!--% end %-->
</div>