<%= form_for([:admin, @article, sentence = @article.sentences.new], remote: true, :authenticity_token => true) do |f| %>
  <%= f.hidden_field :rank, :value => @rank %>
  <p>
    <%= f.label :value %><br>
    <%= f.text_area :value %>
  </p>
    <p>
    <%= f.label 'End Paragraph' %><br>
    <%= f.check_box :end %>
  </p>
  <%= f.fields_for "translations", sentence.translations.new do |f| %>
    <%= render "admin/sentences/translation_fields", :f => f %>
  <% end %>
  <p>
    <%= f.submit %>
  </p>
<% end %>

