<div class="admin_sentence">
  <% sentence.tokens.each do |token| %>
    <div style="display:inline-block;"><%= render partial: 'words/word', locals: { word: token.word } %></div>
  <% end %>
  <!--% if sentence.untokenized != '' %-->
    <!--%= sentence.untokenized %-->
    <!--%= link_to 'Tokenize', manage_sentence_path(sentence) %-->
  <!--% end %-->


</div>

<div class="toggle_translations">
  <div class="toggle_translations_button_wrapper">
    <%= image_tag("translate2.jpg", class: 'toggle_translations_button') %>
  </div>
  <div class="translations">
    <div class="close_translation_tooltip">&#10006;</div>
    <% if sentence.translations.size > 0 %>
      <% translation = sentence.translations[0] %>
      <%= raw translation.value %>
      <% if translation.source.present? %> - <i><%= translation.source.name %></i><% end %>
      <% if translation.user.present? %> - <i><%= translation.user.id %></i><% end %><br>
    <% end %>
  </div>
</div>


<% if sentence.end %>
<div class="end_paragraph"></div>
<% end %>


<% if sentence.untokenized != '' %>
  <%= sentence.untokenized %>
  <%= link_to 'Tokenize', manage_admin_sentence_path(sentence) %>
<% end %>

<%= link_to 'Delete Sentence', [:admin, sentence], method: :delete %>
<!--%= link_to 'Delete Tokens', untokenize_sentence_path(sentence) %-->

