
<div class="admin_sentence">
  <% sentence.tokens.each do |token| %>
    <div style="display:inline-block;"><%= render partial: 'admin/words/word', locals: { word: token.word } %></div>
  <% end %>

  <% if sentence.untokenized != '' %>
    <%= sentence.untokenized %>
  <% end %>
</div>

<div class="admin_translations">
  <% sentence.translations.each do |translation| %>
    <% if translation.source.present? %>
      <b><%= translation.source.name %></b><br>
    <% end %>
    <%= raw translation.value %><br/>
    <% if translation.user.present? %> - <i><%= translation.user.id %></i><% end %><br>
  <% end %>
</div>

<% if sentence.end %>
<div class="end_paragraph"></div>
<% end %>




<%= link_to 'Manage', manage_admin_sentence_path(sentence) %> |

<%= link_to 'Clear Tokens', untokenize_admin_sentence_path(sentence), method: :post %> |

<%= link_to 'Delete Sentence', [:admin, sentence], method: :delete %>
<hr>

