
<% status = (@word_statuses.has_key?(token.word_id) ? @word_statuses[token.word_id].status : 'unknown') %>
<% status = 'known' if token.word.category == 'punctuation' %>
<% show_pinyin = ['unknown'].include? status %>
<% show_mark_unknown = ['known'].include? status %>
<% show_mark_known = ['unknown'].include? status %>
<div class='token <%= token.word.category %> <%= status %>' wordid="<%= token.word.id %>">

  <% if status == 'known' || token.word.category == 'punctuation' %>
    <span class='top learnable'>
      <%= token.word.simplified %><br/>
    </span>

    <span class='bottom learnable'>
      <%= token.word.pinyin %>
    </span>
  <% elsif status == 'learning' %>
    <span class='top learnable'>
      <%= token.word.simplified %><br/>
    </span>
  <% else %>
    <span class='top learnable'>
      <%= token.word.pinyin %><br/>
    </span>

    <span class='bottom learnable'>
      <%= token.word.simplified %>
    </span>
  <% end %>

  <span class='token_notes'>
    <%= token.notes %>
  </span>

<% unless token.word.punctuation? %>
  <div class="tooltip <%= token.word.category %> <%= status %>" wordId="<%= token.word.id %>">

    <div class='top'>
      <%= link_to token.word.simplified, word_path(token.word) %>
    </div>

    <div class='bottom'>
      <%= token.word.pinyin %>
    </div>

    <hr>

    <div class="definitions">
      <strong>
      <% token.word.definitions.each do |definition| %>
        • <%= definition.value %><br/>
      <% end %>
      </strong>
    </div>

    <% if token.word.definitions.any? %><hr><% end %>

    <span class='mark_word_unknown'>
      <%= link_to "Mark as Unknown", admin_update_learned_word_status_path(word_id: token.word.id, status: :unknown), remote: true %>
    </span>
    <span class='mark_word_known'>
      <%= link_to "Mark as Known", admin_update_learned_word_status_path(word_id: token.word.id, status: :known), remote: true %>
    </span>

  </div>
<% end %>
</div>