
<div class="word <%=display_type%>" word-id="<%=id%>" type="manage">

  <h3><%= simplified %></h3>

  <h4>Definitions:</h4>
  <div id="definitions">
    <%= concept("definition/definition_cell/manage_definition_cell", collection: definitions, current_user: current_user) %>
  </div>

  <h4>Tags:</h4>
  <div class="tags">
    <%= concept("tagging/tagging_cell/manage_tagging_cell", collection: taggings, current_user: current_user) %>
  </div>

  <h4>Actions:</h4>
  <% status_links.each do |link| %>
    <div class="link"><%= link %></div>
  <% end %>
</div>

