<div class="word <%= display_type %> <%= status %>" word-id="<%=id%>">
  <%= link(simplified) %> -
  <%= link(traditional) %><br/>
  <%= link(pinyin) %>

  <div style="margin-left: 25px">
  <% definitions.each do |definition| %>
      • <%= definition.value %><br>
  <% end %>
  </div>
  <br/>
  <% status_links.each do |link| %>
    <div class="link"><%= link %></div>
  <% end %>
  <hr>
</div>
