
<div class="show_word <%=type%>" word-id="<%=id%>" type="show">

  <h3><%= simplified %></h3>

  <h4>Definitions:</h4>
  <div id="definitions">
    <% definitions.each do |definition| %>
      <div class="word_definition">
          (<%= definition.rank %>) <%= definition.value %><br>
      </div>
    <% end %>
  </div>

  <h4>Tags:</h4>
  <div class="tags">
    <%#= concept("tagging/tagging_cell/show_tagging_cell", collection: taggings, current_user: current_user) %>
  </div>

  <h4>Actions:</h4>
  <% status_links.each do |link| %>
    <div class="link"><%= link %></div>
  <% end %>
</div>

