<div class="stats" word-id="<%= id %>">
  <div class="content">
    HSK Char Level: <%= hsk_character_level %><br/>
    HSK Word Level: <%= hsk_word_level %><br/>
    Character Frequency: <%= character_frequency %><br/>
    Word Frequency: <%= word_frequency %><br/>
    Radical Number: <%= radical_number %><br/>
    Strokes: <%= strokes %><br/><br/>
  </div>
</div>