<div class="iframe <%= display_type %>" iframe-id="<%= id %>">
  <iframe width="200" height="113" src="https://www.youtube.com/embed/<%= youtube_id %>" frameborder="0" allowfullscreen></iframe>
  <%= link_to title, iframe_manage_path(model) %><br>
  <%= youtube_id %><br>

  <%= edit_link %> -
  <%= delete_link %>
</div>
