<div class="iframe <%= display_type %>" iframe-id="<%= id %>">
  <iframe src="<%= url %>" width="200" height="113" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
  <%= link_to title, iframe_manage_path(model) %><br>
  <%= youtube_id %><br>

  <%= edit_link %> -
  <%= delete_link %>
</div>
