<div class="iframe <%= display_type %> scalable scalable-16-9" iframe-id="<%= id %>">
  <h3><%= title %></h3>
  <div id="iframe-container">
    <div id="iframe-dummy"></div>
    <div id="iframe-background">

      <div id="iframe-wrapper">
        <div id="ytplayer" class="iframe-full-size" video-id="<%= youtube_id %>" frameborder="0" allowFullScreen="allowFullScreen" quality="high" allowScriptAccess="always"></div>
      </div>
    </div>
  </div>

  <%= edit_link %> -
  <%= delete_link %>

</div>
