<div class="iframe <%= display_type %>" iframe-id="<%= id %>">
  <h3><%= title %></h3>
  <%= url %><br/>
  <iframe src="<%= url %>" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe><br/>

  <%= edit_link %> -
  <%= delete_link %>
</div>
