<div class="iframe <%= display_type %> scalable scalable-16-9" iframe-id="<%= id %>">
  <h3><%= title %></h3>
  <iframe width="200" height="113" src="https://www.youtube.com/embed/<%= youtube_id %>" frameborder="0" allowfullscreen></iframe>

  <%= edit_link %> -
  <%= delete_link %>
</div>
