<h1>Words</h1>

<%= form_tag [:words], method: 'get' do %>
  <p>
    <h4>Search Simplified, Traditional and Pinyin</h4><br>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", :name => nil %><br><br>
    <%= check_box_tag :exact_match, 1, params[:exact_match] %> <em>Match Accents and Tones</em><br><br>
    <em>Pinyin with tone numbers at the end will be converted to tone marks (ex: zhong1 wen4 for zhōngwén)</em>
<% end %>

</p>
<%= concept("word/word_cell/search", collection: @results, current_user: current_user, query: params[:query] ) %>
