<h1>Dictionary</h1>

<%= form_tag word_search_path, remote: true do %>
  <p>
    <b><%= label_tag :term, "Search simplified, traditional and pinyin:" %></b><br>
    <%= text_field_tag :term, params[:term] %>
    <%= submit_tag "Search", :name => nil %><br>
    <%= label_tag :ignore_tones, "Ignore Tones" %>
    <%= check_box_tag :ignore_accents %><br>
    <em>Pinyin with tone numbers at the end will be converted to tone marks (ex: zhong1 wen4 for zhōngwén)</em>
<% end %>

<%= form_tag word_definition_search_path,  remote: true do %>
  <p>
    <b><%= label_tag :definitions_term, "Search definitions:" %><br></b>
    <%= text_field_tag :definitions_term, params[:definitions_term] %>
    <%= submit_tag "Search", :name => nil %><br>
<% end %>

</p>
<div id="results"><%= render 'results' %></div>
