<% content_for :meta do %>

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Right Skyscraper -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:600px"
       data-ad-client="ca-pub-5667774105481877"
       data-ad-slot="6792082149"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
<% end %>

<div class="content show_word">
  <%= concept("word/word_cell/show", @word, current_user: current_user).call(:show) %>

  <h1>Sub Words</h1>
  <%= concept("word/word_cell/preview", collection: @sub_words, current_user: current_user ) %>

  <h1>Related Words</h1>
  <%= concept("word/word_cell/preview", collection: @derived_words, current_user: current_user ) %>

  <h1>Homophones</h1>
  <%= concept("word/word_cell/preview", collection: @synonyms, current_user: current_user ) %>

  <h1>Sentences</h1>
  <%= concept("sentence/sentence_cell/preview", collection: @sentences, current_user: current_user ) %>

  <h1>Articles</h1>
  <!--%= @articles.count %-->
</div>
