<div class="article <%= display_type %>" article-id="<%= id %>">
  <div class='title'>
    <%= name_link %>
  </div>
  <div class='info'>
    From <%= created_at %>
  </div>
  <%= edit_link %> - <%= manage_link %> - <%= delete_link %><br/>
</div>