<div class="article <%= display_type %> <%= published ? "" : "unpublished" %>" article-id="<%= id %>">

  <div class="thumbnail">
    <% if iframe.present? %>
      <img src="http://img.youtube.com/vi/<%= iframe.youtube_id %>/mqdefault.jpg">
    <% elsif photo.present? %>
      <%= image_tag(photo.file, :class => "inline-photo") %>
    <% end %>
  </div>

  <% if current_user and current_user.admin? %>
    <div class="admin-menu"><%= edit_link %> - <%= manage_link %> - <%= delete_link %></div>
  <% end %>

  <div class="category">
    <%= link_to(category.name.upcase, category) if category.present? %>
  </div>

  <div class='title'>
    <%= name_link %>
  </div>

  <% if description.present? %>
    <div class='description'>
      <%= description %>
    </div>
  <% end %>
</div>