<div class="article <%= display_type %>" article-id="<%= id %>">
  <% if iframe.present? %>
    <%= concept("iframe/iframe_cell/inline", iframe, current_user: current_user ) %>
  <% elsif photo.present? %>
    <%= concept("iframe/photo_cell/inline", photo, current_user: current_user ) %>
  <% end %>

  <h1><%= title %></h1>
  <% if source.present? %>
    <%= source.name %><br>
    <%= description %><br>
  <% end %>

  <%= edit_link %> -
  <%= delete_link %> -
  <%= resort_link %><br/><br/>
  <div id="sections">
    <%# sections.each do |section| %>
      <%= concept("section/section_cell/manage", collection: sections, current_user: current_user) %>
    <%# end %>
  </div>

</div>
