<div class="article <%= display_type %>" article-id="<%= id %>">
  <div class="menu">
    <%= show_link %> - <%= edit_link %> - <%= delete_link %><br/>
  </div>
  <h1><%= title %></h1>
  <% if source.present? %>
    <%= source.name %><br>
    <%= description %><br>
  <% end %>

  <%= edit_link %> -
  <%= delete_link %><br/><br/>
  <div id="sections">
    <% sections.each do |section| %>
      <%= concept("section/section_cell/manage", section, current_user: current_user) %>
    <% end %>
  </div>

</div>
