

<div class="article <%= display_type %>" article-id="<%= id %>">

  <%= link_to 'Show', article_path(model) %>

  <% if iframe.present? %>
    <%= concept("iframe/iframe_cell/manage", iframe, current_user: current_user ) %>
  <% elsif photo.present? %>
    <%= concept("photo/photo_cell/manage", photo, current_user: current_user ) %>
  <% end %>

  <h1><%= title %></h1>
  <% if source.present? %>
    <%= source.name %><br>
    <%= description %><br>
  <% end %>

  <%= edit_link %> -
  <%= delete_link %> -
  <%= re_sort_link %> -
  <%= delete_all_sections_link %><br/><br/>

  <%= link_to 'Import Sentences', article_show_import_form_path(model, display_type: :list), remote: true, method: :put %><br/>
  <%#= link_to 'Export Sentences', export_sentences_article_path(model, display_type: :list), remote: true, method: :get %><br/>

  <div id="import-sentences">
  </div>

  <div id="sections">
    <%# sections.each do |section| %>
      <%= concept("section/section_cell/manage", collection: sections, current_user: current_user) %>
    <%# end %>
  </div>

</div>

<% sections.each do |sec| %>
  <% if sec.resource_type == "Sentence" %>
    <% s = sec.resource %>
    <%= s.value %><br/>
    <%= s.translations.first.value unless s.translations.empty? %><br/>
  <% end %>
<% end %>