<div class="article <%= display_type %>" article-id="<%= id %>">

  <div class="title"><%= title %></div>

  <div class="source">
    <% if source.present? %><%= link_to source.name, source %><br><% end %>
  </div>

  <div class="tags">
     <%#= concept("tagging/tagging_cell/show_tagging_cell", collection: taggings, current_user: current_user) %>
  </div>

  <div class="description">
    <% if description.present? %><%= description %><% end %>
  </div>

  <% if iframe.present? %>
    <div class="iframe">
      <%= concept("iframe/iframe_cell/inline", iframe, current_user: current_user ) %>
    </div>
  <% elsif photo.present? %>
    <div class="photo">
      <%= concept("photo/photo_cell/inline", photo, current_user: current_user ) %>
    </div>
  <% end %>

  <div class="sections">
    <%= concept("section/section_cell/inline", collection: sections, current_user: current_user ) %>
  </div>

</div>
