<div class="section <%= display_type %>" section-id="<%= id %>">
  <div class="header">
    <div class="menu">
      <%= edit_link %> -
      <%= delete_link %> -
      <%= move_up_link %> -
      <%= move_down_link %>
    </div>
    <%= resource_type %> Section | Sort Order <%= sort_order %> | Style [<%= style %>]<br>
    Start Time: <span id="section-<%=id%>-start-time"><%= start_time %></span><br>
    End Time: <span id="section-<%=id%>-start-time"><%= end_time %></span><br>
    Offsets: [<%= token_offsets.split.join(", ") %>]<br>
    <% if is_clone %><strong>Cloned</strong><% end %>
  </div>
  <div class="section_resource">
    <%= concept("#{resource_type}/#{resource_type}_cell/manage", resource, current_user: current_user) %>
  </div>

</div>
