<div class="sentence <%= display_type %>" sentence-id="<%=id%>">

  <!--a id="copy-sentence-text" style="cursor:pointer;" onclick='window.prompt("Copy to clipboard: Ctrl+C, Enter", "<%= j value %>");'>.</a>-->


  <% tokens.each do |token| %>
    <div style="display:inline-block;">
      <%= concept("word/word_cell/inline", token.word, current_user: current_user).call(:show) %>
    </div>
  <% end %>


  <% if !translations.empty? %>
    <div class="toggle-translations">
      <%# Icon %>
      <div class="toggle-translations-button-wrapper">
        <img class="toggle-translations-button" src="/assets/translate.jpg" alt="Translate">
      </div>

      <%# Tooltip %>
      <div class="sentence-tooltip" sentence-id="<%= id %>">
        <!--div class="close-tooltip close-button">&#10006;</div-->
        <div class="translations">
          <div class="title">Translations</div>
          <% translations.each do |translation| %>
              <div class="translation">
                <%= raw translation.value %><br/>
                <div class="translation-attribution">
                  <% if translation.user.present? %> - <i><%= translation.user.id %></i>
                  <% elsif translation.source.present? %> - <i><%= translation.source.name %></i>
                  <% end %>
                </div>
              </div>
          <% end %>
        </div>

      </div>
    </div>
  <% end %>

</div>


<!--div class="translations">
  <div class="close_translation_tooltip">&#10006;</div>
  <%# translations.each do |translation| %>

    <div class="translation">
      <%#= raw translation.value %><br/>
      <div class="translation-attribution">
        <%# if translation.user.present? %> - <i><%#= translation.user.id %></i>
        <%# elsif translation.source.present? %> - <i><%#= translation.source.name %></i>
        <%# end %>
      </div>
    </div>

  <%# end %>
</div-->

