<div class="sentence <%= display_type %>" sentence-id="<%= id %>">

  From: <%= link_to article.title, article %><br/>

  <% tokens.each do |token| %>
    <div style="display:inline-block;">
      <%= concept("word/word_cell/inline", token.word, current_user: current_user).call(:show) %>
    </div>
  <% end %>

  <div class="toggle_translations">
    <div class="toggle_translations_button_wrapper">
      <%# The stupid assets are not playing nice :( %>
      <%#= image_tag("translate.jpg", class: 'toggle_translations_button') %>
      <img class="toggle_translations_button" src="/assets/translate.jpg" alt="Translate">
    </div>
  </div>

</div>

<div class="translations">
  <div class="close_translation_tooltip">&#10006;</div>
  <% translations.each do |translation| %>
    <%= raw translation.value %><br/>
    <% if translation.user.present? %> - <i><%= translation.user.id %></i><% end %><br>
  <% end %>
</div>
