<div id="tokenizer">
  <div class="sentence">

    <br/>

    <%= link_to 'Edit', edit_sentence_path(model) %> -
    <%= tokenize_sentence_link %> -
    <%= untokenize_sentence_link %>
    <br/><br/>

    Preview:<br/>
    <% tokens.each do |token| %>
      <div style="display:inline-block;">
        <%= concept("word/word_cell/inline_word_cell", token.word, current_user: current_user).call(:show) %>
      </div>
    <% end %>
    <br/><br/>

    Raw Value: <%= value %><br/>
    Untokenized: <%= untokenized %><br/>
    Translatable: <%= translatable %><br/>
    Auto Translate: <%= auto_translate %><br/>

    <h3>Translations:</h3>
    <% translations.each do |translation| %>

      <%= raw translation.value %>
      <% if translation.source.present? %>
        - <%= translation.source.name %>
      <% end %>
      <br/>
      <% if translation.user.present? %> - <i><%= translation.user.id %></i><% end %><br>
    <% end %>

  </div>




</div>