<div class="sentence <%= display_type %>" sentence-id="<%= id %>">

  <% tokens.each do |token| %>
    <div style="display:inline-block;">
      <%= concept("word/word_cell/inline", token.word, current_user: current_user).call(:show) %>
    </div>
  <% end %>


  <% if !translations.empty? %>
    <div class="toggle-translations">
      <%# Icon %>
      <div class="toggle-translations-button-wrapper">
        <img class="toggle-translations-button" src="/assets/translate.jpg" alt="Translate">
      </div>

      <%# Tooltip %>
      <div class="sentence-tooltip" sentence-id="<%= id %>">
        <div class="close-tooltip close-button">&#10006;</div>

        <div class="translations">
          <% translations.each do |translation| %>
              <div class="translation">
                <%= raw translation.value %><br/>
                <div class="translation-attribution">
                  <% if translation.user.present? %> - <i><%= translation.user.id %></i>
                  <% elsif translation.source.present? %> - <i><%= translation.source.name %></i>
                  <% end %>
                </div>
              </div>
          <% end %>
        </div>

      </div>
    </div>
  <% end %>


</div>
