<div class="sentence <%= display_type %>" sentence-id="<%= id %>">

  <div class="menu">
    <%= edit_link %> -
    <%= show_manage_cell_link %>
  </div>

  <div class="sentence_tokenizer">

    <%= untokenize_link %> | <%= remove_last_token_link %><br>
    <h4>Tokenizer:</h4>

    <%= concept("word/word_cell/inline", collection: tokens.collect { |t| t.word }, current_user: current_user) %>

    <% if !untokenized.empty? %>
      <div class="untokenized"><%= untokenized %></div>
    <% end %>
    <br/>

    <div class="next_token">
      <h4>Next Token:</h4>
      <div class="add-next-token-form" style="display:none;"></div>

      <% candidate_tokens.each do |word| %>
        <h2>
          <%= link_to "'#{word.simplified}'", sentence_add_token_path(model, word_id: word.id), remote: true, method: :post %>
          <%= word.pinyin %>
        </h2>
        <% word.definitions.each do |definition| %>
          • <%= definition.value %><br/>
        <% end %>

      <% end %>
    </div>

    <h4>Translations:</h4>
    <% translations.each do |translation| %>
      <div class="translation tokenize">
        <%= translation.value %><br>
        <% if translation.user.present? %>
          User: <%= translation.user.username %>
        <% elsif translation.source.present? %>
          Source: <%= translation.source.name %>
        <% end %>
      </div>
    <% end %>
    <br>

  </div>
</div>