<div class="sentence <%= display_type %>" sentence-id="<%= id %>">

  <div class="menu">
    <%= edit_link %> -
    <%= show_manage_cell_link %>
  </div>

  <div class="tokenized">


  <h4>Translations:</h4>
  <% translations.each do |translation| %>
    Translation: <%= translation.value %><br>
    <% if translation.user.present? %>
      User: <%= translation.user.username %>
    <% elsif translation.source.present? %>
      Source: <%= translation.source.name %>
    <% end %><br>
  <% end %>
    <br>

    <h4>Tokenizer:</h4>
    <%= untokenize_link %> | <%= remove_last_token_link %>
    <br>
    <% tokens.each do |token| %>
      <%= concept("word/word_cell/inline", token.word, current_user: current_user).call(:show) %>
      <%#= render partial: 'admin/words/word', locals: { article: article, word: token.word } %>
    <% end %>


    <div class="untokenized"><%= untokenized %></div>

  </div>

  <div class="next_token">
    <h4>Next Token:</h4>
    <div class="add-next-token-form" style="display:none;"></div>
    <% candidate_tokens.each do |word| %>
      <h2>
        <%= link_to "'#{word.simplified}'", sentence_add_token_path(model, word_id: word.id), remote: true, method: :post %>
        <%= word.pinyin %>
      </h2>
      <% word.definitions.each do |definition| %>
        • <%= definition.value %><br/>
      <% end %>

    <% end %>
  </div>
</div>