<div class="image <%= display_type %>" image-id="<%= id %>">
  <%= link_to title, image_manage_path(model) %><br>
  <%= file %><br/>
  <%= image_tag file %><br/>
  <%= source.name %><br>

  <%= edit_link %> -
  <%= delete_link %>
</div>
