<%= simple_form_for(@post, :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %>
   <div class="field">
     <%= f.label :title %><br>
     <%= f.text_field :title %>
   </div>

   <div class="field">
     <%= f.label :content %><br>
     <%= f.text_area :content %>
   </div>

   <%= f.fields_for :documents do |p| %>
     <div class="field">
       <%= p.label :file %><br>
       <%= p.file_field :file, :multiple => true, name: "documents[file][]" %>
     </div>
   <% end %>

   <div class="actions">
     <%= f.submit %>
   </div>
<% end %>