<div class="definition_cell" definition-id="<%=id%>">

  <%= value %> (<%= rank %>)
  <%= show_edit_form_link %> -
  <%= delete_link %></br>
  <% error_messages.each do |message| %>
    <%= message %>
  <% end %>
</div>
