<div class="add_sentence <%= display_type %>" sentence-id="<%= id %>">
  <h3>Add Section:</h3>
  <%= nested_form_for model, :url => article_add_sentence_section_path(article), remote: true do |f| %>
    <%= f.hidden_field :display_type, value: display_type %>

    <%= f.fields_for :section  do |section_form| %>
      <%= section_form.hidden_field  :article_id %>
    <% end %>

    <%= f.label :sentence %>
    <%= f.text_field :value %><br>

    <%= f.fields_for :translations do |ff| %>
      <%= ff.label :translation %>
      <%= ff.text_field :value %><br/>
    <% end %>

    <%= f.submit "Submit", class: :submit %>
  <% end %>
  <%= model.errors.messages unless model.errors.nil? %>

</div>


