
<div class="photo" id="photo-<%= id %>">
  <h3><%= title %></h3>
  <%= image_tag(file, :class => "inline-photo") %><br/>
  <% if description.present? %><%= description %><br><% end %>
  <% if source_name.present? %><%= source_name %><br><% end %>
  <% if source_link.present? %><%= source_link %><br><% end %>
  <br>
</div>
