
<div class="photo" id="photo-<%= id %>">
  <h1><%= title %></h1>
  <%= file %><br/>
  <%= image_tag file %><br/>
  <%= description %><br>
  <%= source_name %><br>
  <%= source_link %><br>
  <br>
</div>
