<div class="photo <%= display_type %>" photo-id="<%= id %>">

  <%= image_tag(file, :class => "inline-photo") %><br/>
  <div class="name">
    <%= title %>
  </div>
  <% if description.present? %><div class="description"><%= description %></div><% end %>
  <% if source_name.present? and source_link.present? %>
    <div class="credit">
      Photo Credit: <%= link_to source_name, source_link %>
    </div>
  <% end %>
</div>
