<div class="photo <%= display_type %>" photo-id="<%= id %>">
  <h3><%= title %></h3>
  <%= file %><br/>
  <%= image_tag file, width: "100%" %><br/>
  <%= description %><br/>
  <%= source_name %><br>
  <%= source_link %><br>

  <%= edit_link %> -
  <%= delete_link %>
</div>
