<div class="photo <%= display_type %>" photo-id="<%= id %>">
  <h3><%= title %></h3>
  <div style="float: left; padding-right: 10px;"><%= image_tag file, width: "200px" %></div>
  <%= file %><br/>
  <%= description %><br/>
  <%= source_name %><br>
  <%= source_link %><br>

  <%= edit_link %> -
  <%= delete_link %>
</div>
