
<div class="content">
  <%= concept("image/image_admin_menu_cell", @image, current_user: current_user) %>

  <h1>Editing Image</h1>

  <%= simple_form_for @form do |image_form| %>
    <%= image_form.error_notification %>

    <%= image_form.file_field :file, placeholder: "File", label: false %>
    <%= image_form.input :title, placeholder: "Title", label: false %>
    <%= image_form.input :source_id, collection: Source.all, selected: @form.source_id %>

    <%= image_form.button :submit, class: :expand %>
  <% end %>
  <%= @form.errors.messages unless @form.errors.nil? %>

  <%= link_to 'Back', images_path %>
</div>



<%= link_to 'Show', @image %> |
<%= link_to 'Back', images_path %>
