<div class="add_section_form">
  <%= simple_form_for @add_image_form, url: sections_path, remote: true, method: :post do |f| %>

    <%= f.input :article_id, :as => :hidden, :input_html => { :value => @article.id } %>
    <%= f.input :resource_id, collection: Image.all %>
    <%= f.input :resource_type, :as => :hidden, :input_html => { :value => 'Image' } %>

    <%= f.button :submit, class: :expand %>
  <% end %>
  <%= @add_image_form.errors.messages unless @add_image_form.errors.nil? %>
</div>