<!DOCTYPE html>
<html>
<head>
  <title>Unravel Chinese</title>
  <%= stylesheet_link_tag 'jquery.qtip', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'admin/sentences', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'admin/words', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

</head>
<body>



<div class="wrapper">

  <section class="header">
    <div class="left"></div>

    <div class="main">
      <div class="main-content">
        <%= link_to "绎中文<br>Unravel Chinese".html_safe, root_path %>
      </div>
    </div>


    <div class="meta">
      <div class="meta-content">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
      </div>
    </div>

    <div class="right"></div>
  </section>

  <br><br>
  <section class="menu">
    <div class="left"></div>
    <div class="main-meta">
      <div class="menu-wrapper">
        <span class="link"><%= link_to 'Sources', admin_sources_path %></span> |
        <span class="link"><%= link_to 'Articles', admin_articles_path %></span> |
        <span class="link"><%= link_to 'Sentences', admin_sentences_path %></span> |
        <span class="link"><%= link_to 'Words', admin_words_path %></span>
      </div>
    </div>
    <div class="right"></div>
  </section>

  <section class="title">
    <div class="left"></div>
    <div class="main-meta">
      <div class="content-title">
        <%= yield :title %>
      </div>
    </div>
    <div class="right"></div>
  </section>

  <section class="body">
    <div class="left"></div>
    <div class="main">
      <div class="main-content">
        <%= yield %>
      </div>
    </div>
    <div class="meta">
      <div class="meta-content">
        <%= yield :meta %>
      </div>
    </div>
    <div class="right"></div>
  </section>

  <section class="footer">
    <div class="left"></div>
    <div class="main-meta"></div>
    <div class="right"></div>
  </section>


</div>
</body>
</html>
