<!DOCTYPE html>
<html>
<head>
  <title>Unravel Chinese</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true, debug: true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, debug: true %>
  <!--script src="https://www.youtube.com/iframe_api"></script-->
  <script src="https://www.youtube.com/player_api"></script>

  <%= csrf_meta_tags %>

</head>
<body>

<div id="ttdUniversalPixelTag17bdff24a7054d538e2cedefe3cd2af7" style="display:none">
    <script src="https://js.adsrvr.org/up_loader.1.1.0.js" type="text/javascript"></script>
    <script type="text/javascript">
        (function(global) {
            if (typeof TTDUniversalPixelApi === 'function') {
                var universalPixelApi = new TTDUniversalPixelApi();
                universalPixelApi.init("xjagv7s", ["ow6q08u"], "https://insight.adsrvr.org/track/up", "ttdUniversalPixelTag17bdff24a7054d538e2cedefe3cd2af7");
            }
        })(this);
    </script>
</div>

<div class="layout-wrapper">

  <section class="header-row">
    <div class="left-column"></div>

    <div class="main-meta-column">
      <div class="user-menu">
        <% if signed_in? %>
          <%= link_to "Sign out", session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign in", new_session_path %>
          <%= link_to "Sign up", new_user_path %>
        <% end %>
      </div>
      <%= link_to "拆开中文", root_path %><br/>
      <%= link_to "Unravel Chinese", root_path %>

    </div>

    <div class="right-column"></div>
  </section>


  <section class="menu-row">
    <div class="left-column"></div>
    <div class="main-meta-column">
      <div class="menu-wrapper">
        <div class="link <%= 'current-page' if params[:controller] == 'articles' %>"><%= link_to 'Articles', [:articles] %></div>
        <div class="link"><%= link_to 'Dictionary', [:words] %></div>
        <% if current_user and current_user.admin? %>
          <div class="link"><%= link_to 'Photos', [:photos], class: 'admin' %></div>
          <div class="link"><%= link_to 'IFrames', [:iframes], class: 'admin' %></div>
          <div class="link"><%= link_to 'Categories', [:categories], class: 'admin' %></div>
          <div class="link"><%= link_to 'Sources', [:sources], class: 'admin' %></div>
          <div class="link"><%= link_to 'Tags', [:tags], class: 'admin' %></div>
        <% end %>
      </div>
    </div>
    <div class="right-column"></div>
  </section>

  <section class="title-row">
    <div class="left-column"></div>
    <% title = yield(:title) %>
    <% if !title.empty? %>
      <div class="main-meta-column">
          <%= yield :title %>
      </div>
    <% end %>
    <div class="right-column"></div>
  </section>

  <section class="main-row">
    <div class="left-column"><div id="left-iframe-wrapper"></div></div>

    <% meta = yield(:meta) %>
    <% if meta.empty? %>
      <div class="main-meta-column">
        <div class="main-content">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <div class="main-column">
        <div class="main-content">
          <%= yield %>
        </div>
      </div>

      <div class="meta-column">
        <div class="meta-content">
          <%= yield :meta %>
        </div>
      </div>
    <% end %>
    <div class="right-column"></div>
  </section>

  <section class="footer-row">
    <div class="left-column"></div>
    <div class="main-meta-column"></div>
    <div class="right-column"></div>
  </section>


</div>
</body>
</html>
