<!DOCTYPE html>
<html>
<head>
  <title>Unravel Chinese</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'jquery.qtip', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'sentences', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'tokens', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

</head>
<body>



<div class="wrapper">

  <section class="header">
    <div class="left"></div>

    <div class="main">
      绎中文<br/>
      Unravel Chinese
    </div>


    <div class="meta">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </div>

    <div class="right"></div>
  </section>


  <section class="menu">
    <div class="left"></div>
    <div class="main-meta">
      <div class="link"><%= link_to 'Read', articles_path %></div>
      <div class="link"><%= link_to 'Dictionary', words_path %></div>
      <div class="link"><%= link_to 'Tags', tags_path %></div>
    </div>
    <div class="right"></div>
  </section>

  <section class="content">
    <div class="left"></div>
    <div class="main"><%= yield %></div>
    <div class="meta"><%= yield :meta %></div>
    <div class="right"></div>
  </section>

  <section class="footer">
    <div class="left"></div>
    <div class="main-meta"></div>
    <div class="right"></div>
  </section>


</div>
</body>
</html>
