<!DOCTYPE html>
<html>
<head>
  <title>Unravel Chinese</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

</head>
<body>

<div class="wrapper">

  <section class="header">
    <div class="left"></div>

    <div class="main">
      <div class="main-content">
        <%= link_to "绎中文<br>Unravel Chinese".html_safe, root_path %>
      </div>
    </div>

    <div class="meta">
      <div class="meta-content">
        <% if signed_in? %>
          <%= link_to "Sign out", session_path, method: :delete %>
        <% else %>
          <%= link_to "Sign in", new_session_path %>
          <%= link_to "Sign up", new_user_path %>
        <% end %>
      </div>
    </div>

    <div class="right"></div>
  </section>


  <section class="menu">
    <div class="left"></div>
    <div class="main-meta">
      <div class="menu-wrapper">
        <div class="link"><%= link_to 'Articles', [:articles] %></div>
        <div class="link"><%= link_to 'Sentences', [:sentences] %></div>
        <div class="link"><%= link_to 'Words', [:words] %></div>
      </div>
    </div>
    <div class="right"></div>
  </section>

  <section class="title">
    <div class="left"></div>
    <div class="main-meta">
      <div class="content-title">
        <%= yield :title %>
      </div>
    </div>
    <div class="right"></div>
  </section>

  <section class="body">
    <div class="left"></div>
    <div class="main">
      <div class="main-content">
        <%= yield %>
      </div>
    </div>
    <div class="meta">
      <div class="meta-content">
        <%= yield :meta %>
      </div>
    </div>
    <div class="right"></div>
  </section>

  <section class="footer">
    <div class="left"></div>
    <div class="main-meta"></div>
    <div class="right"></div>
  </section>


</div>
</body>
</html>
